h1 {
    color: blue;
    text-align: center;
}

.main {
    text-align: center;
    width: 200px;
    height: auto;
    background-color: burlywood;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;  
}

.main input{
    border: 2px solid #f0f0f0;
    margin: 3px;
}
